## Fashion-MNIST

Вам предлагается решить задачу классификации на наборе данных Fashion-MNIST, который вы можете скачать по следующей ссылке [Fashion-MNIST on Kaggle](https://www.kaggle.com/zalando-research/fashionmnist)

Данные проект является учебным и его цель – научиться работать с различными моделями машинного обучения. Вам необязательно строить самую лучшую модель и получать лучшее качество на тестовых данных. Самое важное – это научиться обучать модели и анализировать полученные результаты. В результате, вы научитесь использовать и подготавливать данные для решения задачи классификации. Так же вы изучите на практике различные алгоритмы машиного обучения, такие как логистическая регрессия, полносвязные нейронные сети и сверточные нейронные сети. Более того, вы научитесь обучать эти модели и анализировать результаты работы этих алгоритмов на новых данных

Fashion-MNIST – это датасет состоящий из 70000 черно-белых изображений одежды 28х28 пикселей каждое. 60000 из них содержатся в тренировочной выборке, и 10000 – в тестовой. Этот набор данных представляет из себя альтернативу обычному датасету рукописных цифр MNIST. Существовало несколько предпосылок для создания такого набора данных.

В Fashion-MNIST содержится 10 классов разной одежды по аналогии с 10 цифрами из MNIST. Подробное описание датасета можно найти далее

--------

## Fashion-MNIST description

**Content**

Each image is 28 pixels in height and 28 pixels in width, for a total of 784 pixels in total. Each pixel has a single pixel-value associated with it, indicating the lightness or darkness of that pixel, with higher numbers meaning darker. This pixel-value is an integer between 0 and 255. The training and test data sets have 785 columns. The first column consists of the class labels (see above), and represents the article of clothing. The rest of the columns contain the pixel-values of the associated image.

To locate a pixel on the image, suppose that we have decomposed x as x = i * 28 + j, where i and j are integers between 0 and 27. The pixel is located on row i and column j of a 28 x 28 matrix.
For example, pixel31 indicates the pixel that is in the fourth column from the left, and the second row from the top, as in the ascii-diagram below.


**Labels**

Each training and test example is assigned to one of the following labels:

0. T-shirt/top
1. Trouser
2. Pullover
3. Dress
4. Coat
5. Sandal
6. Shirt
7. Sneaker
8. Bag
9. Ankle boot


**TL;DR**

Each row is a separate image
Column 1 is the class label.
Remaining columns are pixel numbers (784 total).
Each value is the darkness of the pixel (1 to 255)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

dir_path = "/content/drive/My Drive/Colab Notebooks/COMP_MATH/DataAnalysis/6. FASHION-MNIST/data/"

## 1. Загружаем исходные данны и готовим их для классификации

In [ ]:
#import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import tensorflow as tf

#%matplotlib inline
np.set_printoptions(precision=3)
plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (8, 6)

In [ ]:
train = pd.read_csv(dir_path+"mnist_train.csv", sep=',', header= None)
train.shape

In [ ]:
test = pd.read_csv(dir_path+"mnist_test.csv", sep=',', header= None)
test.shape

## 2. Подготовка данных для обработки
----------

In [ ]:
# разделение меток и картинок на обучающей выборке
X_train = train.drop(labels=0, axis=1)
y_train = train.iloc[:, 0]
X_train.shape, y_train.shape

In [ ]:
# разделение меток и картинок на обучающей выборке
X_test = test.drop(labels=0, axis=1)
y_test = test.iloc[:, 0]
X_test.shape, y_test.shape

In [ ]:
# нормировка данных - здесь ВАШ КОД !!!

In [ ]:
x_train.head(3)

   1    2    3    4    5         6    ...  779  780  781  782  783  784
0  0.0  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.003922  ...  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.000000  ...  0.0  0.0  0.0  0.0  0.0  0.0

[3 rows x 784 columns]



------

In [ ]:
# переформатируем метки для решения задачи классификации ...
num_classes = 10
# ...

In [ ]:
y_train[0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 1.], dtype=float32)

## 2. Строим полносвязную нейронную сеть
-------------

### **Моделируем нейросеть**

Смоделируем нейросеть с полносвязными слоями 

--------

In [ ]:
model.summary()

### **Обучаем и анализируем точность нейросети**

Зададим параметры обучения и обучим нейросеть

--------

In [ ]:
# обучение модели
batch_size = 128
epochs = 10

на 17-й итерации (это 2-я сессия обучения) началось переобучение - точность на тестовой выборке начала падать и колебаться, а на обучающей - расти. ПОэтому далее нет смысла проводить обучение.

-----------

In [ ]:
loss, accuracy = model.evaluate(x_test, y_test, verbose=0)
print('Test loss:', loss)
print('Test accuracy:', accuracy)

Test loss: 0.33600980043411255
Test accuracy: 0.8755000233650208

**ВЫВОД**:



------------

## 3. Строим сверточную нейронную сеть
-------------